#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator-body{
    display: flex;
    flex-direction: row;
}
.calculator-result {
    width: 100px;
    height: 30px;
    text-align: end;
    font-size: 25px;
    background-color: lightgray;
}
.calculator-operations {
    display: flex;
    flex-direction: column;
}
.equal {
    width: 130%;
}
.number-zero {
    width: 67%;
}